:export {
  light_keyword1: #006699;
  light_keyword2: #009966;
  light_keyword3: #0099FF;
  light_value:    #000000;
  light_comment:  #2eb82e;
  light_neutral:  #000000;
  light_illegal:  #FF0000;

  dark_keyword1:  #0077FF;
  dark_keyword2:  #00CC88;
  dark_keyword3:  #00CCFF;
  dark_value:     #CCCCCC;
  dark_comment:   #2eb82e;
  dark_neutral:   #CCCCCC;
  dark_illegal:   #FF0000;
}
