// Overwrite navigation bar breakpoint
$navbar-breakpoint: "0";

@use "bulma/bulma";

:root {
  --dark-main-color: #1E1E1E;
  
  --dark-text-primary: #FFFFFF;
  --dark-text-secondary: #DCDCDC;
  --dark-text-tertiary: #9F9F9F;

  --navbar-height: 72px;
  --button-level-height: 56px;
  --footer-height: 20px;
}

[data-theme="dark"] {
  --bulma-scheme-main: var(--dark-main-color);

  .navbar-item {
    --bulma-navbar-item-color: var(--dark-text-primary);
  }

  a.dropdown-item {
    background-color: transparent;
  }

  table {
    background-color: var(--dark-main-color);
  }

  table > thead > tr > th {
    color: var(--dark-text-secondary);
  }

  table > tbody > tr > td {
    color: var(--dark-text-tertiary);
    strong {
      color: var(--dark-text-tertiary);
    }
  }
}

html {
  overflow-y: auto;
}

.input-container:after {
  position: absolute;
  right: 5px;
  top: 8px;
  content: '.txt';
}

.navbar {
  min-height: var(--navbar-height);
}

div.editor {
  height: calc(100vh - var(--navbar-height) - var(--button-level-height) - var(--footer-height));
}

div.settings {
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

div.about {
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

a.navbar-item {
  color: white;
}

a.navbar-item:hover,
a.navbar-item:focus {
  background-color: transparent;
  backdrop-filter: brightness(0.8);
}

.button,
.button:hover,
.button:focus {
  border-color: transparent;
}

.button:hover {
  opacity: 0.8;
}