// Overwrite navigation bar breakpoint
$navbar-breakpoint: "0";

@import "../../../node_modules/bulma/bulma.sass";

:root {
  --dark-main-color: #1E1E1E;
  
  --dark-text-primary: #FFFFFF;
  --dark-text-secondary: #DCDCDC;
  --dark-text-tertiary: #9F9F9F;
}

html {
  overflow-y: auto;
}

.input-container:after {
  position: absolute;
  right: 5px;
  top: 8px;
  content: '.txt';
}

.navbar {
  min-height: 72px;
}

div.editor {
  height: calc(100vh - 72px - 56px - 20px);
  //72 navbar, 56 buttongroup, 24 footer
}

div.settings {
  height: calc(100vh - 72px - 20px);
}

div.about {
  height: calc(100vh - 72px - 20px);
}

div.dark {
  background-color: var(--dark-main-color);
}

nav.dark {
  background-color: var(--dark-main-color);
}

a.navbar-item {
  color: white;
}

a.navbar-item:hover,
a.navbar-item:focus {
  color: white;
  background-color: transparent;
  backdrop-filter: brightness(0.8);
}

.button,
.button:hover,
.button:focus {
  background-color: unset;
  border-color: transparent;
}

.button:hover {
  opacity: 0.8;
}

button.dark,
button.dark:hover {
  background-color: #2F2F2F;
  border-color: transparent;
  color: var(--dark-text-primary);
}

button.dark:focus {
  color: var(--dark-text-primary);
}

button.light,
button.light:hover {
  border-color: hsl(0, 0%, 71%);
  color: hsl(0, 0%, 21%);
}

.dropdown-content.dark a {
  color: var(--dark-text-tertiary);
}

.dropdown-content.dark a:hover {
  color: var(--dark-text-primary);
  background-color: #252525;
}

table.dark {
  background-color: var(--dark-main-color);
}

table.dark > thead > tr > th {
  color: var(--dark-text-secondary);
}

table.dark > tbody > tr > td {
  color: var(--dark-text-tertiary);
  strong {
    color: var(--dark-text-tertiary);
  }
}

.dark h1, a {
  color: var(--dark-text-primary);
}

.dark .field label {
  color: var(--dark-text-primary);
}

.dark > .tabs > ul > li > a:not(li.is-active a, a:hover) {
  color: var(--dark-text-secondary);
}

.dark p {
  color: var(--dark-text-tertiary);
}

.dark .content > ul > li span {
  color: var(--dark-text-tertiary);
}